.button__clearStyle{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.input__clearStyle{
  border: none;
  outline: none;
}

.list__clearStyle{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.content__container{
  margin: 0 auto;
}

.hidden{
  visibility: hidden;
}

.pop{
  z-index: 1000;
}

.pop__onTop{
  z-index: 1001 !important;
}