*{
  box-sizing: border-box;
  margin: 0;
}

body, header {
  margin: 0;
  font-family: NeueHaasUnica,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

.bold{
  font-weight: 600;
}

